.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 420px;
    max-width: 420px;
    min-height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    /* top layer */
    z-index: 9999;
    transition: all 0.3s;
}

#sidebar.active {
    margin-right: -420px;
}

#dismiss {
    width: 35px;
    height: 35px;
    position: absolute;
    /* top right corner of the sidebar */
    top: 10px;
    left: 10px;
}
