body {
	margin: 0px;
	background: #F1F1F1;
}

header,
.container {
	width: 900px;
	padding: 25px;
	left: 0px;
	right: 0px;
	background: #fefefe;
	-webkit-box-shadow:0 .25rem .75rem rgba(0, 0, 0, .05);
	-moz-box-shadow:0 .25rem .75rem rgba(0, 0, 0, .05);
	box-shadow:0 .25rem .75rem rgba(0, 0, 0, .05);
	margin: 30px auto;
	border-radius: 5px;
}

header {
	background: #6f42c1;
	color: #FFFFFF;
	font-size: 15px;
	font-weight: bold;
}

.container > h3 {
	display: block;
	border-bottom: 1px solid #b3b3b5;
	padding: 0px;
	padding-top: 0px;
	padding-bottom: 20px;
	margin: 0px;
	margin-bottom: 20px;
}