body {
	margin: 0px;
	background: #F1F1F1;
}

header,
.container {
	width: 900px;
	padding: 25px;
	left: 0px;
	right: 0px;
	background: #fefefe;
	-webkit-box-shadow:0 .25rem .75rem rgba(0, 0, 0, .05);
	-moz-box-shadow:0 .25rem .75rem rgba(0, 0, 0, .05);
	box-shadow:0 .25rem .75rem rgba(0, 0, 0, .05);
	margin: 30px auto;
	border-radius: 5px;
}

header {
	background: #6f42c1;
	color: #FFFFFF;
	font-size: 20px;
	font-weight: bold;
	line-height: 25px;
}

.container {
	position: relative;
}

.container > h3 {
	display: block;
	border-bottom: 1px solid #b3b3b5;
	padding: 0px;
	padding-top: 0px;
	padding-bottom: 20px;
	margin: 0px;
	margin-bottom: 20px;
	font-size: 20px;
	line-height: 30px;
}

.container h3 img {
	vertical-align: middle;
}

.container h3 a {
	float: right;
	display: inline-block;
	vertical-align: middle;
	font-size: 12px;
	color: white;
	background: #34d058;
	border-radius: 5px;
	padding: 3px;
	padding-left: 7px;
	font-weight: bold;
	border: 1px solid #8e8f91;
	margin-top: -4px;
	text-decoration: none;
}

.container h3 a:hover {
	background: #28a745;
}

.container h3 span {
	font-size: 15px;
	font-weight: bold;
}

.container h4 {
	padding: 0px;
	margin: 0px;
	font-size: 25px;
}

#events-container {
	min-height: 150px;
}

.events-message {
	text-align: center;
}

#empty-message {
	position: absolute;
	width: 100%;
	left: 0px;
	top: 100px;
}

.event {
	background: #fefefe;
	position: relative;
	width: 100%;
	border-bottom: 1px solid #C4C4C4;
	padding-bottom: 20px;
}

.event h4 {
	font-size: 20px;
	min-height: 25px;
}

.event-name {
	width: 100%;
	line-height: 35px;
	font-size: 17px;
	overflow: hidden;
}

.event-name span {
	float: right;
	display: inline-block;
	font-size: 15px;
}

.event-right {
	max-height:100px;
	overflow: hidden;
}

.tenseInput {
	display: none;
}

.tenseSelect {
	font-size: 13px;
	border: 1px solid #f0a000;
	padding: 0px;
	margin: 0px;
	float: right;

	display: inline-block;
	vertical-align: middle;
	font-size: 12px;
	background: #f0a000;
	padding: 3px 10px;
	font-weight: bold;
	margin-top: -4px;
	text-decoration: none;
	cursor: pointer;
	background: transparent;
	color: black;
}

#futureTense:checked ~ h3 #futureSelect { background: #f0a000; }
#everythingTense:checked ~ h3 #everythingSelect { background: #f0a000; }
#pastTense:checked ~ h3 #pastSelect { background: #f0a000; }

#futureSelect { border-radius: 0px 5px 5px 0px; margin-right: 20px; }
#everythingSelect {border-width: 1px 0px;}
#pastSelect { border-radius: 5px 0px 0px 5px; }

.event { display: none; }
#futureTense:checked ~ .event-future { display: block; }
#everythingTense:checked ~ .event {display: block;}
#pastTense:checked ~ .event-past { display: block; }
